<div class="hero">
	</br>

	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		</br>
		<h1>Make learning fun and magical</h1>
		</br>
		<h2>Be a lifelong student.</h2>
		</br>
		<%= link_to 'Learn', courses_path, :class => 'btn btn-success' %>
		</br></br>
	</div>

</div>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
  	<%= image_tag 'teach.png', :class => 'home-pic'%>
   <br /><br />
    <h3>Teach</h3>
    <p>Step by step video instructions on how to do anything from building a web application to growing your own garden</p>
  </div>

  <div class="col-sm-4">
  	<%= image_tag 'learn.png',:class => 'home-pic' %>
  	<br /><br />
    <h3>Learn</h3>
    <p> Get online support and mentoring from your instructor as you progress through the lessons at your own pace.</p>
  </div>

  <div class="col-sm-4">
  	<%= image_tag 'earn.png', :class => 'home-pic'%>
    <br /><br />
    <h3>Earn</h3>
    <p>Have a wealth of knowledge that you want to share with the world? Make money by teaching others what you know and are passionate about.</p>
  </div>

  
</div>